@page "/photo/{id:int}/edit"
@model EditModel

@{
    Model.TabTitle = Model.PageTitle = "Edit photo";
}

<img src="@Model.ImageUrl" />

@section LeftPanel
{
    <form asp-page-handler="update" method="POST">
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" type="text" />
        <label asp-for="@Model.TakenAt">Taken at</label>
        <input asp-for="@Model.TakenAt" type="datetime-local" />
        <p>@Model.TakenAtSourceMessage</p>
        <button type="submit">Save</button>
        <a asp-page="/photo/index" asp-route-id="@Model.Id">Cancel</a>
    </form>
    <form asp-page-handler="delete" method="POST">
        <button type="submit">Delete</button>
    </form>
}