@page "/album/{id:int}/edit"
@model EditModel

@using Web.Services
@inject ImageService imageService

@{
    Model.TabTitle = Model.PageTitle = $"Edit {Model.Title}";
}

@if(Model.ImageCheckboxes.Any())
{
    @for (var i = 0; i < Model.ImageCheckboxes.Count(); i++)
    {
        <label asp-for="ImageCheckboxes[i].Checked">
            <img src="@imageService.GetImageUrl(Model.ImageCheckboxes[i].Item, true)" />
        </label>
        <input type="hidden" asp-for="ImageCheckboxes[i].Item.Id" />
        <input asp-for="ImageCheckboxes[i].Checked" />
    }

    @if(Model.ImageCheckboxes.HasPreviousPage)
    {
        <a asp-route-p="@(Model.ImageCheckboxes.PageIndex - 1)">Previous</a>
    }
    <p>Page @Model.ImageCheckboxes.PageIndex of @Model.ImageCheckboxes.TotalPages</p>
    @if(Model.ImageCheckboxes.HasNextPage)
    {
        <a asp-route-p="@(Model.ImageCheckboxes.PageIndex + 1)">Next</a>
    }
}
else
{
    <p>There are no photos to show :(</p>
}

@section LeftPanel
{
    <form asp-page-handler="update" method="POST">
        <label asp-for="@Model.Title">Title</label>
        <input asp-for="@Model.Title" type="text" />
        <label asp-for="@Model.Description">Description</label>
        <textarea asp-for="@Model.Description"></textarea>
        <button type="submit">Save</button>
        <a asp-page="/album/index" asp-route-id="@Model.Id">Cancel</a>
    </form>
    <form asp-page-handler="delete" method="POST">
        <button type="submit">Delete</button>
    </form>
}