@page "/album/{id:int}/edit"
@model EditModel

@{
    Model.TabTitle = Model.PageTitle = $"Edit {Model.Title}";
}

@* TODO: thinking we can have a paged, filtered list of all photos here, with the ones currently in the album selected *@

@section LeftPanel
{
    <form asp-page-handler="update" method="POST">
        <label asp-for="@Model.Title">Title</label>
        <input asp-for="@Model.Title" type="text" />
        <label asp-for="@Model.Description">Description</label>
        <textarea asp-for="@Model.Description"></textarea>
        <button type="submit">Save</button>
        <a asp-page="/album/index" asp-route-id="@Model.Id">Cancel</a>
    </form>
    <form asp-page-handler="delete" method="POST">
        <button type="submit">Delete</button>
    </form>
}