@page "{id:int}"
@model IndexModel

@using Data.Models

@{
    Model.TabTitle = Model.PageTitle = Model.Title;
}

@if(Model.Images.Any())
{
    @foreach(var image in Model.Images)
    {
        <a asp-page="/photo/index" asp-route-id="@image.Id">
            <img src="@Model._imageService.GetImageUrl(image, true)" />
        </a>
    }
    @if(Model.Images.HasPreviousPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex - 1)">Previous</a>
    }
    <p>Page @Model.Images.PageIndex of @Model.Images.TotalPages</p>
    @if(Model.Images.HasNextPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex + 1)">Next</a>
    }
}
else
{
    <p>There are no photos to show :(</p>
}

@section LeftPanel
{
    @if(!string.IsNullOrWhiteSpace(Model.Description))
    {
        <h3>Description</h3>
        <p>@Model.Description</p>
    }
    <h3>From</h3>
    <time>@Model.From.ToString("MMM dd, yy")</time>
    <h3>To</h3>
    <time>@Model.To.ToString("MMM dd, yy")</time>
}