@page
@model AddModel

@{
    Model.TabTitle = Model.PageTitle = "Add album";
}

<form asp-page="/albums/add">
    <label asp-for="@Model.Title">Title</label>
    <input asp-for="@Model.Title" />
    <label asp-for="@Model.Description">Description</label>
    <input type="text" asp-for="@Model.Description" />
    <label asp-for="@Model.Ids">Photo IDs</label>
    <input type="text" asp-for="@Model.Ids" placeholder="eg. '4, 16, 29'" />
    <a href="/albums">Cancel</a>
    <button type="submit">Save</button>
</form>