@page
@model IndexModel

@{
    Model.TabTitle = Model.PageTitle = "Albums";
}

@if(Model.Albums.Any())
{
    @foreach (var album in Model.Albums)
    {
        <a asp-page="/album/index" asp-route-id="@album.Id">@album.Title</a>
    }
}
else
{
    <p>There are no albums to show :(</p>
}

@section LeftPanel
{
    <form asp-page="/albums" method="GET">
    @if(Model.DatePickerMin.HasValue && Model.DatePickerMax.HasValue)
    {
        <input type="date" asp-for="F" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
        <input type="date" asp-for="T" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
    }
        <input type="search" asp-for="S"/>
        <a href="/albums">Clear</a>
        <button type="submit">Search</button>
    </form>
}