@page
@model IndexModel

@{
    Model.TabTitle = Model.PageTitle = "Photos";
}

<form class="left-panel-form" asp-page="/photos" method="GET">
    @if(Model.DatePickerMin.HasValue && Model.DatePickerMax.HasValue)
    {
        <input class="form__item" type="date" asp-for="F" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
        <input class="form__item" type="date" asp-for="T" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
    }
    <input class="form__item" type="search" asp-for="S"/>
    <div class="form__item--bottom form__horizontal-container">
        <a class="button button-secondary form__item" href="/photos">Clear</a>
        <button class="button button--primary form__item" type="submit">Search</button>
    </div>
</form>

@if(Model.Images.Any())
{
    @foreach(var image in Model.Images)
    {
        <a asp-page="/photo/index" asp-route-id="@image.Id">
            <img src="@Model._imageService.GetImageUrl(image, true)" />
        </a>
    }
    @if(Model.Images.HasPreviousPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex - 1)" asp-route-S="@Model.S">Previous</a>
    }
    <p>Page @Model.Images.PageIndex of @Model.Images.TotalPages</p>
    @if(Model.Images.HasNextPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex + 1)" asp-route-S="@Model.S">Next</a>
    }
}
else
{
    <p>There are no photos to show :(</p>
}