@page
@model IndexModel

@{
    Model.TabTitle = Model.PageTitle = "Photos";
}

<form class="filters-form" asp-page="/photos" method="GET">
    @if(Model.DatePickerMin.HasValue && Model.DatePickerMax.HasValue)
    {
        <input class="form__item" type="date" asp-for="F" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
        <input class="form__item" type="date" asp-for="T" min="@Model.DatePickerMin.Value.ToString("yyyy-MM-dd")" max="@Model.DatePickerMax.Value.ToString("yyyy-MM-dd")" />
    }
    <input class="form__item" type="search" asp-for="S"/>
    <a class="button button-secondary form__item" href="/photos">Clear</a>
    <button class="button button--primary form__item" type="submit">Search</button>
</form>
<div class="photo-listing-container">
@if(Model.Images.Any())
{
    @if(Model.Images.HasPreviousPage)
    {
        <a class="listing-page-link listing-page-link--left" asp-route-p="@(Model.Images.PageIndex - 1)" asp-route-S="@Model.S">Previous</a>
    }
    <div class="photo-listing">
    @foreach(var image in Model.Images)
    {
        <a class="listing__photo" asp-page="/photo/index" asp-route-id="@image.Id">
            <img src="@Model._imageService.GetImageUrl(image, true)" />
        </a>
    }
    </div>
    @if(Model.Images.HasNextPage)
    {
        <a class="listing-page-link listing-page-link--right" asp-route-p="@(Model.Images.PageIndex + 1)" asp-route-S="@Model.S">Next</a>
    }
}
else
{
    <p>There are no photos to show :(</p>
}
</div>
