@page
@model IndexModel

@{
    Model.TabTitle = Model.PageTitle = "Photos";
}

@if(Model.Images.Any())
{
    @foreach(var image in Model.Images)
    {
        <a asp-page="/photo/index" asp-route-id="@image.Id">
            <img src="@Model._imageService.GetImageUrl(image, true)" />
        </a>
    }
    @if(Model.Images.HasPreviousPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex - 1)" asp-route-S="@Model.S">Previous</a>
    }
    <p>Page @Model.Images.PageIndex of @Model.Images.TotalPages</p>
    @if(Model.Images.HasNextPage)
    {
        <a asp-route-p="@(Model.Images.PageIndex + 1)" asp-route-S="@Model.S">Next</a>
    }
}
else
{
    <p>There are no photos to show :(</p>
}

@section LeftPanel
{
    <form asp-page="/photos" method="GET">
        <input type="search" asp-for="S"/>
        <input type="date" asp-for="F" />
        <input type="date" asp-for="T" />
        <a href="/photos">Clear</a>
        <button type="submit">Search</button>
    </form>
}