@using Statiq.Razor
@using Site.Models
@inherits StatiqRazorPage<GalleryPage>

@{
    ViewBag.Title = $"Photos - Page {Model.Index}";
}

<section class="image-grid">
    @foreach (var item in Model.Images)
    {
        <a class="image-grid__image-link" href="@item.Href">
            <img class="image-link__image" src="@item.Src" />
        </a>
    }
</section>

<nav class="pager-bar">
    <a class="pager-bar__button pager-bar__button--prev @(Model.PrevHref == null ? "pager-bar__button--disabled" : string.Empty)"
        href="@Model.PrevHref">Previous</a>
    <span class="pager-bar__label">Page @Model.Index of @Model.TotalPages</span>
    <a class="pager-bar__button pager-bar__button--next @(Model.NextHref == null ? "pager-bar__button--disabled" : string.Empty)"
        href="@Model.NextHref">Next</a>
</nav>